:root {
  --warna-bg: rgba(0, 0, 0, .5); 
  --warna-teks: #fff;
  --warna-bingkai: #fff;
  --bingkai: 20px;
  --gaya-font: 'Josefin Sans', sans-serif;
}

body {
  background-color:#000;
  font-family:var(--gaya-font);
  padding: 20px 25px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a{text-decoration:none;}
body::before{content:"\00A9  Rayys | PalingIT";color:white;opacity:0;font-size:10px;position:fixed;bottom:25px;right:25px;z-index:2}

#bodyblur{opacity:.2;position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.3);z-index:-1;transition:all 1s ease;} 
#wallpaper{width:100%;height:100%;transition:all 2s ease;}
#beneranblur{position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.3);-webkit-backdrop-filter:blur(3px); backdrop-filter:blur(3px);transition:all 3s ease;}

blockquote {
  opacity:0;
  visibility:hidden;
  transform: scale(.1);
  transition:all 1s ease;
  position:absolute;
  margin-top:120px;
  width:400px;
  background:var(--warna-bg);
  backdrop-filter:blur(10px);
  border-radius:50px;
  box-shadow:0 8px 32px rgba(0,0,0,0.3);
  border:2px solid var(--warna-bingkai);
  color:var(--warna-teks);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, .8);
  text-align:center;
  line-height:1.3em;
  padding:0 25px 0 25px;
}

blockquote img{
  display:none;
  border-radius:50%;
  border:2.5px double #fff;
  padding:10px;
  width:90px;
  height:90px;
  margin:20px 0 0 0;
}

#fotoakhir{
  opacity:.1;
  margin-bottom:15px;
  transition:all 1.2s ease;
  transform: scale(.1);
}

#Tombol{
  position:relative;
  opacity:0;
  display:flex;
  list-style:none;
  transform: scale(.1);
  transition:all 1s ease;
}
#Tombol a{
  cursor:pointer;
  display:inline-flex;
  margin:12px 0;
  padding:10px;
  border:2px solid var(--warna-bingkai);
  border-radius:var(--bingkai);
  background:var(--warna-bg);
  color:var(--warna-teks);
  font-size:15px;
  font-weight:700;
  white-space:nowrap;
}
#Tombol a:hover{transform: scale(.90);}

#Content{
  position:relative;
  opacity:0;
  margin-top:50px;
  width:100%;
  height:180px;
  transition:all .8s ease;
}
#Content > *{
  display:flex;
  align-items:center;
  justify-content:center;
}
